#titre {
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#FFFFFF;
	font-size:500%; 
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	padding: 100px 0 100px;
	background-color: #EBDA95;
	background: url("photo1.jpg");
}
ul {
    background-color: yellow;
    padding: 20px;
    display: none;
}    
span:hover + div {
    display: block;
}
img.photocouple{
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
	border: solid 4px #87ADF2;
}
#lesmaries {
	padding: 100px 0 100px;
	background-color: #EBDA95;
}
#datedumariage {
	padding: 100px 0 100px;
}
#lieudereception {
	padding: 100px 0 100px;
	background-color: #EBDA95;
}
#laregion {
	padding: 100px 0 100px;
}

xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
#button {
	margin-left: 250px;
	line-height: 2;
	text-decoration: none;
  	font-family: "Helvetica Neue",sans-serif;
  	font-size:300%;
 	text-transform: uppercase;
  	color: white;
 	padding: 100px 0 100px;