#menu {
    position: fixed;
  margin-left: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}
body {
	background-color:#B2CCE8;
}
h1 {
	font-family: "georgia";
	color:#006080;
	font-size:300%; 
	font-style: italic;
	text-align: center;
}
h2, h3, h4 {
	font-family: "georgia";
	text-align: center;
	color:#006666;
	font-style: italic;
}
img.photocouple{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p {
	text-align: center;
	font-style: normal;
	color: grey;
}
ul {
	list-style-type: none;
}
li {
	text-align: center;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
