* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-size:15px;
}
header {
	background-image: url('../images/ciel.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#titre{
	min-height: 100vh;
    padding: 1%;
}
#menu {
	position: fixed;
	display: inline-block;
	font-size: 0.9em;
	top: 0;
	left: 0;
	right: 0;
	background: #4b759d;
	text-align: center;
	border-bottom: 2px solid #EBDA95;
	z-index: 1;
}
#menu a:hover {
	color: #87ADF2;
}
#menu a {
	text-decoration: none;
	color: #EBDA95;
	font-size: 1.5em;
	/* margin:1.7em; */
	padding: 1em;
	float: left;
	width: 20%;
	}
#titre h1 {
	font-family: "Helvetica Neue",sans-serif;
	color:#EBDA95;
	font-size: 4em;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
}
img.photocouple{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	border-radius: 50%;
	height: 60vh;
}
#datedumariage {
	font-family: "Helvetica Neue",sans-serif;
	color: #EBDA95;
	text-align: center;
	min-height: 100vh;
	padding: 4em 0;
	width: 70%;
	margin: auto;
}
#datedumariage img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#datedumariage h1 {
	font-family: helvetica, sans-serif;
	font-size: 4em;
}
#datedumariage h2 {
	font-size: 1.85em;	 		
	font-style: italic;
	line-height: 1.2em;
}
.subsection {
	width: 32%;
  	padding: .8%;
 	float: left;
}
.subsection.clear {
	clear: both;
}
#datedumariage p {
	font-family: helvetica, sans-serif;
	font-size: 1em;
	line-height: 2em;
	font-style: italic;
	line-height:3em;
}
#lieudereception {
	/* min-height: 100vh; */
	font-family: helvetica, sans-serif;
	font-size: 1em;
	line-height: 2em;
	color: #EBDA95;
	width: 70em;
	margin: auto;
	position: relative;
}
#direction {
	float: left;
	width: 50%;
	/* margin-left: 10%; */
	/* margin-top: 10%; */
	padding: 1%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#lieudereception img{
	/* margin-top: 10%; */
	width: 50%;
	float: right;
}
#lestemoins {
	min-height: 100vh;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10%;
	margin: auto; 
}
#lestemoins img{
	border-radius: 50%;
	width: 70%;
	display: block;
	margin: 0 auto;
}
#lestemoins h1 {
	font-family: "Helvetica Neue",sans-serif;
	color:#EBDA95;
	font-size: 1.5em;
	font-style: normal;
	text-align: center;
	padding-bottom: 0.25em;
}
#lestemoins h2{
	font-family: "Helvetica Neue",sans-serif;
	color:#EBDA95;
	font-size: 1.2em;
	font-style: normal;
	text-align: center;
}
#temoinsisabelle {
    float: left;
    width: 50%;
}
#temoinsarnaud {
    float: left;
    width: 50%;
}
.temoinsisabelle1 {
    padding: 3%;
    float: left;
    width: 49%;
    border: 2px solid;
}
.temoinsarnaud1 {
	padding: 3%;
    float: left;
    width: 49%;
 }
#lescadeaux {
	min-height: 100vh;
	padding: 10% 0 10%
}
#lescadeaux img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	height: 50vh;
	width: 50%
}
#lescadeaux h1 {
	font-family: "Helvetica Neue",sans-serif;
	color:#EBDA95;
	font-size: 2em;
	font-style: normal;
	text-align: center;
}
.clearfix:after {
	display:block;
	height:0;
	visibility:hidden;
	content:" ";
	clear:both;
}
@media only screen and (max-width: 1306px) {
	body {
		font-size: 13px;
	}
	#lieudereception {
		float: none;
		width: 0 auto;
	}
	#menu {
		float: none;
		margin: none;
	}
}
@media only screen and (max-width: 320px) {
	body {
		font-size: 12px;
	}
	#datedumariage img {
		visibility: hidden;
		display: none;
	}
	#datedumariage h1, h2, h3 {
		margin-top: 1.5em;
	}
	.subsection {
		float: none;
		margin: 0 auto;
	}
	#temoinsisabelle {
		float: none;
		margin: 0 auto;
	}
	#temoinsarnaud {
		float: none;
		margin: 0 auto;
	}
	
}

