* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-image: url('../images/ciel.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#titre{
	min-height: 100vh;
	margin: auto;
    background-repeat: none;
    background-size: cover;
    padding: 10px;
}
#menu {
	position: fixed;
	margin: 0 3em 3em 3em;

	}   
#menu a {
	text-decoration: none;
	color: #EBDA95;
	font-size: 1.5em;
	margin:1.2em;
	padding: 1.5em;
	text-align: center;
	}
#menu a:hover {
	color: #87ADF2;
}
#titre h1 {
	font-family: "Helvetica Neue",sans-serif;
	color:#EBDA95;
	font-size: 4em;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
}
img.photocouple{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	height: 70vh;
	margin-top: 2em;
}
#datedumariage {
	padding: 10px 0 100px;
	font-family: "Helvetica Neue",sans-serif;
	color: #EBDA95;
	text-align: center; 		
	min-height: 100vh;
}
#datedumariage h1 {
	font-family: helvetica, sans-serif;
	font-size: 4em;
	line-height: 3em;
}
#datedumariage h2 {
	font-size: 2em;
	line-height: 1.25em;		 		
	font-style: italic;
	line-height: 2em;
}
#datedumariage p {
	font-family: helvetica, sans-serif;
	font-size: 1em;
	line-height: 0.75em;
	font-style: italic;
	line-height: 1em;
}
#lieudereception {
	padding: 100px 0 100px;
	min-height: 100vh;
}
#lestemoins {
	min-height: 100vh;
	padding: 100px 0 100px;
}
